#back-card-bg-menshirts{
    background: linear-gradient(#048BC2,white);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#back-card-bg-womenshirts{
    background:linear-gradient(#238F51,white);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}