.card {
    padding: 10px !important;
    height: 55vh;
}

.carousel-inner .card {
    background-color: azure;
    padding: 10px !important;
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 16px;
    width: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.card-img-top {
    left: 25%;
    position: relative;
    width: 50%;
}
.carousel-control-prev, .carousel-control-next{
    background-color: rgb(87, 81, 2);
    width: 4%;
    height: 50%;
    display: flex;
    top: 20%;
    align-self: center;
    justify-content: center;
}