.orderCard {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#thank-you-rating {
    z-index: 9;
    top: 0%;
    font-size: 130%;
    justify-content: center;
    text-align: center;
    position: fixed;
    opacity: 0;
    display: inline-flex;
    animation: thankyoufromdowntoup 1 linear alternate 3s;
}

@keyframes thankyoufromdowntoup {
    0% {
        top: 100%;
        opacity: 0.5;
    }

    
    20% {
        top: 90%;
        opacity: 1;
    }
    30% {
        top: 90%;
        opacity: 1;
    }
    40% {
        top: 90%;
        opacity: 1;
    }
    50% {
        top: 90%;
        opacity: 1;
    }
    60% {
        top: 90%;
        opacity: 1;
    }
    70% {
        top: 90%;
        opacity: 1;
    }
    80% {
        top: 90%;
        opacity: 1;
    }

    100% {
        top: 100%;
        opacity: 0.5;
    }
}